.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(29, 29, 29, 0.95);
}

/* Responsivo */
@media (max-width: 639px) {
  .main-content {
    padding: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .main-content {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .main-content {
    padding: 3rem;
  }
}